#contact{
    width: 100%;
    height: 100%;
    display: flex;
       overflow: hidden;
}
.leftcontact{
    width:50%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftcontact img{ 
    width:50%;
    filter: drop-shadow(2px 2px 10px rgb(120, 120, 212));
}
.rightcontact{
    width:50%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 80%;
    height:70%;
    background-color: rgb(25, 11, 11);
    box-shadow: 0px 0px 15px black, 2px 2px 20px black;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
/*form :hover{
    box-shadow: 0px 0px 20px rgb(63, 108, 187),
                0px 0px 25px rgb(52, 59, 65);
} */
form:hover{
    box-shadow:
        0 0 20px rgba(66, 180, 205, 0.8),
        0 0 40px rgba(66, 180, 205, 0.6);
}




form input{/* form er vitore je input field gulo thakbe(name,email,message) tar jnno */
    width: 80%;
    height: 50px;
    padding:20px;
   
    border-radius: 20px;
    border: 2px solid rgb(66, 180, 205);
    outline: none;
}
#textarea{/* form er vitore je textarea thakbe tar jnno */
    width: 80%;
    height: 200px;
    padding:20px;
   
    border-radius: 20px;
    border: 2px solid rgb(66, 180, 205);
    outline: none;
}
#btn{/* form er vitore je button thakbe tar jnno */
    width: 100px;
    height: 50px;
   
    
    background-color: rgb(66, 180, 205);
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 20px;
    transition: all 0.3s;
    cursor: pointer;
}
#btn:hover{
    background-color: transparent;
    color: rgb(154, 129, 129);
    border: 2px solid rgb(66, 180, 205);
    cursor: pointer;
}
@media (max-width: 750px){
    #contact{
        flex-direction: column;
    }
    .leftcontact{
        width: 70%;
        height: 50vh;
    }
    .leftcontact img{
        width: 90%;
    }
    .rightcontact{
        width: 100%;
       
    }

    
}