.card{
    width: 90%;
    max-width: 400px;
    height: 170px;
    background-color: rgb(11, 1, 1);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 10px black, 2px 2px 20px black;
    border-radius: 10px;
    transition:all 0.2s;
    cursor: pointer;
    flex-shrink: 0;
    padding: 10px;

}
.card:hover{
    box-shadow: 22px 2px 10px rgb(79, 121, 193), 2px 2px 20px rgb(57, 135, 194);
}
.hovercard img{
    height: 80%;
    filter: drop-shadow(2px,2px,10px,black);
}
.hovercard{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,rgba(101, 173, 237, 0.307),rgba(12, 17, 20, 0.495));
    position: absolute;
    bottom:0;
    transform: translateY(100%);
    transition:all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(7px);
}
.card:hover .hovercard{
    transform: translateY(0%);
}
.card h1{
     background: linear-gradient(to right,rgb(203, 148, 205),white);
    background-clip: text;
    color:transparent;
    
}